<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>controller.signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMemberServlet</servlet-name>
        <servlet-class>controller.addMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTrainerServlet</servlet-name>
        <servlet-class>controller.addTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMemberServlet</servlet-name>
        <servlet-class>controller.updateMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMemberServlet</servlet-name>
        <servlet-class>controller.deleteMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrainerServlet</servlet-name>
        <servlet-class>controller.deleteTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrainerServlet</servlet-name>
        <servlet-class>controller.updateTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProgramServlet</servlet-name>
        <servlet-class>controller.addProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProgramServlet</servlet-name>
        <servlet-class>controller.deleteProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProgramServlet</servlet-name>
        <servlet-class>controller.updateProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAdminServlet</servlet-name>
        <servlet-class>controller.updateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePasswordServlet</servlet-name>
        <servlet-class>controller.updatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addClassServlet</servlet-name>
        <servlet-class>controller.addClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateClassServlet</servlet-name>
        <servlet-class>controller.updateClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClassServlet</servlet-name>
        <servlet-class>controller.deleteClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMemberServlet</servlet-name>
        <url-pattern>/addMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTrainerServlet</servlet-name>
        <url-pattern>/addTrainerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMemberServlet</servlet-name>
        <url-pattern>/updateMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMemberServlet</servlet-name>
        <url-pattern>/deleteMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrainerServlet</servlet-name>
        <url-pattern>/deleteTrainerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrainerServlet</servlet-name>
        <url-pattern>/updateTrainerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProgramServlet</servlet-name>
        <url-pattern>/addProgramServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProgramServlet</servlet-name>
        <url-pattern>/deleteProgramServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProgramServlet</servlet-name>
        <url-pattern>/updateProgramServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAdminServlet</servlet-name>
        <url-pattern>/updateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePasswordServlet</servlet-name>
        <url-pattern>/updatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClassServlet</servlet-name>
        <url-pattern>/addClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateClassServlet</servlet-name>
        <url-pattern>/updateClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClassServlet</servlet-name>
        <url-pattern>/deleteClassServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
